@using Tobe.Collection.Helpers
@using Tobe.Collection.Models
@using Orchard.Core.Title.Models
@{
    var contentItem = Model.ContentItem;
    var titlePart = (TitlePart)contentItem.TitlePart;
    var autoroutePart = contentItem.AutoroutePart.DisplayAlias;
    var album = (AlbumPart)contentItem.AlbumPart;
    var releaseDate = album.OriginalReleaseDate != null ? "{0} ({1:yyyy})" : "{0}";
}

    @if (WorkContext.CurrentUser != null)
    {
        <div>
            <div style="float: left">
                @album.ArtistDisplayName
            </div>
            <div style="float: left; margin-left: 8px"><i>@Html.ItemDisplayLink(String.Format(album.Name), album)</i></div>
            @if (album.OriginalReleaseDate != null)
            {
                <div style="float: left; margin-left: 8px">(@album.OriginalReleaseDate)</div>
            }
            <div style="float: left; margin-left: 8px">@album.Format.Name</div>
            <div class="editlink" style="float: left; margin: 0 20px 0 20px !important;">@Html.ItemAdminLink(String.Format("EDIT"), album)</div>
        </div>
        <br/>
        }
        else {
            <div>
                <div style="float: left">
                    @album.ArtistDisplayName
                </div>
                <div style="float: left; margin-left: 8px"><i>@Html.ItemDisplayLink(String.Format(album.Name), album)</i></div>
                @if (album.OriginalReleaseDate != null) {
                    <div style="float: left; margin-left: 8px">(@album.OriginalReleaseDate)</div>
                }
                <div style="float: left; margin-left: 8px">@album.Format.Name</div>
                </div>
            <br/>            
        }