@using Tobe.Collection.Models
@using Tobe.Collection.ViewModels
@{
    var recordLabels = (IEnumerable<TableRowData<RecordLabel>>)Model.RecordLabels;
}
<table class="items">
    <thead>
        <tr>
            <th>@T("Name")</th>
            <th></th>
        </tr>
    </thead>
    @using (Html.BeginFormAntiForgeryPost()) {
        foreach (var row in recordLabels) {
            var recordLabel = row.Data;
            <tr>
                <td>@recordLabel.Name</td>
                <td>
                    @Html.ActionLink(T("Edit").Text, "Edit", "RecordLabelsAdmin", new { area = "Tobe.Collection", recordLabel.Id }, null) |
                    @if (row.IsDeletable) {
                        @Html.ActionLink(T("Delete").Text, "Delete", "RecordLabelsAdmin", new { area = "Tobe.Collection", recordLabel.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    }
                    else {
                        <span class="delete disabled" title="@T("You cannot delete this RecordLabel as it is being referenced by at least one Album.")">@T("Delete")</span>
                    }
                </td>
            </tr>
        }
    }
</table>
@Display(Model.Pager)