@model Tobe.Collection.ViewModels.CreditsContainerViewModel
@{
    Style.Include("tobe-admin.css");
    Style.Include("credits-editor.css");
    Script.Require("jQueryUI_Autocomplete");
    Script.Include("knockout.js").AtFoot();
    Script.Include("credits-editor.js").AtFoot();

    var credits = Json.Encode(Model.Credits);
}
<div id="creditsEditor" data-credits="@credits">
    <fieldset>
        <legend>@T("Credits")</legend>
        <div class="group">
            <ul class="credits-input">
                <li>
                    <div class="pull-left label">@T("Agent")</div>
                    <div class="pull-right"><a href="@Url.Action("Create", "AgentsAdmin", new { area = "Tobe.Collection", returnUrl = Request.Path })">@T("Add New")</a></div>
                    <div class="clear"></div>
                    <input type="text" class="text medium all-agents" data-source-url="@Url.Action("Search", "Agent", new { area = "Tobe.Collection" })" />
                </li>
                <li>
                    <div class="pull-left label">@T("Role")</div>
                    <div class="pull-right"><a href="@Url.Action("Create", "RolesAdmin", new { area = "Tobe.Collection", returnUrl = Request.Path })">@T("Add New")</a></div>
                    <div class="clear"></div>
                    @Html.DropDownList("AllRoles", new SelectList(Model.AllRoles, "Id", "Name"), T("Select role to add...").ToString(), new { @class = "all-roles" })
                </li>
                <li>
                    <br/>
                    <input type="button" class="button grey" value="Add" data-bind="click: addCredit, enable: addCreditEnabled" />
                </li>
            </ul>
        </div>
        <table class="items credits" data-bind="visible: hasCredits">
            <thead>
                <tr>
                    <th>@T("Agent") </th>
                    <th>@T("Role")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: credits">
                <tr>
                    <td>
                        <input type="hidden" data-bind="attr: { name: creditIdInputName }, value: id" />
                        <input type="hidden" data-bind="attr: { name: agentIdInputName }, value: agent.id" />
                        <input type="hidden" data-bind="attr: { name: agentNameInputName }, value: agent.name" />
                        <input type="hidden" data-bind="attr: { name: roleIdInputName }, value: role.id" />
                        <input type="hidden" data-bind="attr: { name: roleNameInputName }, value: role.name" />
                        <a href="#" data-bind="text: agent.name, attr: { href: agent.editUrl($element) }" data-edit-url="@Url.Action("Edit", "AgentsAdmin", new { id = "(id)", area = "Tobe.Collection" })"></a>
                    </td>
                    <td><a href="#" data-bind="text: role.name, attr: { href: role.editUrl($element) }" data-edit-url="@Url.Action("Edit", "RolesAdmin", new { id = "(id)", area = "Tobe.Collection" })"></a></td>
                    <td><a href="#" class="delete button grey" data-bind="click: $parent.removeCredit">@T("Remove")</a></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>