@model Tobe.Collection.ViewModels.CreateCountryViewModel

<h2>@T("New Country")</h2>           
@using (Html.BeginFormAntiForgeryPost("Create")) {
    @Html.LabelFor(c => c.Name)
    @Html.TextBoxFor(c => c.Name)
    @Html.ValidationMessageFor(c => c.Name)
    <div style="margin-top: 10px;">
        <button type="submit" class="primaryAction">@T("Create")</button>
    </div>
}